<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkai.mapper.app.SurveyorMapper">


	<select id="selectById" parameterType="int"
		resultType="com.kangkai.pojo.Surveyor">
		<![CDATA[
			select * from t_surveyor where surveyorId=#{surveyorId}
		]]>
	</select>
	
	<select id="selectByPhone" parameterType="String"
		resultType="com.kangkai.pojo.Surveyor">
		<![CDATA[
			select * from t_surveyor where  username=#{phone}
		]]>
	</select>
	

</mapper>