<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkai.mapper.util.BannerMapper">
	
	<select id="selectBannerList" parameterType="map"
		resultType="com.kangkai.pojo.Banner">
		<![CDATA[
			select * from sys_banner where isDisplay=0 and type=#{type} limit ${begin},${pageSize}
		]]>
	</select>
	
</mapper>